ngjs-color-picker ul {
  padding: 0;
  outline: none;
  list-style-type: none;
}

ngjs-color-picker li {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  outline: none;
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/fc/Translucent_50_percent_white.png)*/
}

ngjs-color-picker li:hover{
  /*background-image:none;*/
}

ngjs-color-picker li.selected {
  background-image:none;
  border: 1px solid #333;
}

/*Horizontal round corners, first*/
ngjs-color-picker li.hRDF {
  border-radius: 5px 0 0 5px;
}

/*Horizontal round corners, last*/
ngjs-color-picker li.hRDL {
  border-radius: 0 5px 5px 0;
}

/*Vertical round corners, first*/
ngjs-color-picker li.vRDF {
  border-radius: 5px 5px 0 0;
}

/*Vertical round corners, last*/
ngjs-color-picker li.vRDL {
  border-radius: 0 0 5px 5px;
}

/*Columns, top left corner*/
ngjs-color-picker li.tlRound {
  border-radius: 5px 0 0 0;
}

/*Columns, top right corner*/
ngjs-color-picker li.trRound {
  border-radius: 0 5px 0 0;
}

/*Columns, bottom right corner*/
ngjs-color-picker li.brRound {
  border-radius: 0 0 5px 0;
}

/*Columns, bottom left corner*/
ngjs-color-picker li.blRound {
  border-radius: 0 0 0 5px;
}