{
    "extends": "angular",
    "rules": {
        "array-bracket-spacing": [2, "never"],
        "camelcase": 2,
        "comma-dangle": [2, "never"],
        "comma-spacing": [2, { "before": false, "after": true }],
        "comma-style": [2, "last"],
        "computed-property-spacing": [2, "never"],
        "default-case": 2,
        "dot-notation": 2,
        "eol-last": [2, "always"],
        "eqeqeq": [2, "always"],
        "func-call-spacing": [2, "never"],
        "indent": [2, 4],
        "key-spacing": [2, { "beforeColon": false }],
        "keyword-spacing": [2, { "before": true }],
        "linebreak-style": [2, "unix"],
        "max-len": [2, 100],
        "no-debugger": 2,
        "no-else-return": 2,
        "no-extra-semi": 2,
        "no-fallthrough": 2,
        "no-lonely-if": 2,
        "no-multiple-empty-lines": [2, {"max": 2, "maxEOF": 1}],
        "no-restricted-globals": [2, "event"],
        "no-trailing-spaces": 2,
        "no-unreachable": 2,
        "no-unused-vars": 2,
        "quotes": [2, "single"],
        "radix": 2,
        "semi": [2, "always"],
        "semi-spacing": [2, { "before": false, "after": true }],
        "strict": [2, "global"],
        "use-isnan": 2
    }
}
