<header>
    <h1>ngjs-color-picker</h1>
    <p>A color picker with a few extra functions - for AngularJS</p>

    <p class="view"><a href="https://github.com/simeg/ngjs-color-picker">View the Project on GitHub <small>simeg/ngjs-color-picker</small></a></p>

    <ul>
        <li><a href="https://github.com/simeg/ngjs-color-picker/zipball/master">Download <strong>ZIP File</strong></a></li>
        <li><a href="https://github.com/simeg/ngjs-color-picker/tarball/master">Download <strong>TAR Ball</strong></a></li>
        <li><a href="https://github.com/simeg/ngjs-color-picker">View On <strong>GitHub</strong></a></li>
    </ul>
</header>
<section>
    <h1>
        <a id="ngjs-color-picker" class="anchor" href="#ngjs-color-picker" aria-hidden="true"><span class="octicon octicon-link"></span></a>What is ngjs-color-picker?</h1>

    <p>A small directive which essentially is a color picker but with a few extra functions - for AngularJS.</p>

    <p><b>On this page you can see examples, documentation and usage of the directive.</b></p>

    <hr/>
    <h1>Available options</h1>

    <h2>Selected color</h2>
    <p>
        <strong>Attribute:</strong> <code>selectedColor</code><br/>
        <strong>Description:</strong> The default selected color in the color picker.<br/>
        <strong>Default:</strong> First element in array of included colors.
    </p>

    <h2>Custom colors</h2>
    <p>
        <strong>Attribute:</strong> <code>customColors</code><br/>
        <strong>Description:</strong> Custom colors for the color picker.<br/>
        <strong>Default:</strong> An array with following elements: <code>[
        #7bd148,
        #5484ed,
        #a4bdfc,
        #46d6db,
        #7ae7bf,
        #51b749,
        #fbd75b,
        #ffb878,
        #ff887c,
        #dc2127,
        #dbadff,
        #e1e1e1
        ]</code>
    </p>

    <h2>Options</h2>
    <p>
        <strong>Attribute:</strong> <code>options</code><br/>
        <strong>Description:</strong> An object containing several options for the color picker.<br/>

        <h3>Keys in <code>options</code></h3>

        <strong>Key:</strong> <code>roundCorners</code><br/>
        <strong>Description:</strong> Option for round corners.<br/>
        <strong>Default:</strong> <code>false</code>
        <br/><br/>
        <strong>Key:</strong> <code>size</code><br/>
        <strong>Description:</strong> Option for size in pixels of each color box in the color picker.<br/>
        <strong>Default:</strong> <code>20</code>
        <br/><br/>
        <strong>Key:</strong> <code>total</code><br/>
        <strong>Description:</strong> Option for total colors visible.<br/>
        <strong>Default:</strong> Length of color array (default color array has 12 elements)
        <br/><br/>
        <strong>Key:</strong> <code>horizontal</code><br/>
        <strong>Description:</strong> Option for horizontal or vertical color picker.<br/>
        <strong>Default:</strong> <code>true</code>
        <br/><br/>
        <strong>Key:</strong> <code>columns</code><br/>
        <strong>Description:</strong> Option for columns and how many.<br/>
        <strong>Default:</strong> <code>0</code><br/>
        <strong>Note:</strong> An even color picker with columns can <i>only</i> be created if
        the <code>total</code> can be divided with <code>columns</code> with no remainder (<code>total % columns === 0</code>)
        <br/><br/>
    </p>
    <h2>Gradient</h2>

    <p>
        <strong>Attribute:</strong> <code>gradient</code><br/>
        <strong>Description:</strong> An object containing options for creating gradient colors.<br/>

        <h3>Keys in <code>gradient</code></h3>

        <strong>Key:</strong> <code>count</code><br/>
        <strong>Description:</strong> Option for how many colors in the gradient.<br/>
        <strong>Default:</strong> <code>10</code><br/>
        <strong>Note:</strong> <code>14</code> is maximum.
        <br/><br/>
        <strong>Key:</strong> <code>start</code><br/>
        <strong>Description:</strong> Option for the starting color, must be full hex (either <code>#08a35c</code> or <code>08a35c</code>).<br/>
        <strong>Note:</strong> Must be included for gradient to work.
        <br/><br/>
        <strong>Key:</strong> <code>step</code><br/>
        <strong>Description:</strong> Option for how "fast" the gradient will change color.<br/>
        <strong>Default:</strong> <code>1</code>
        <br/><br/>

    </p>

    <h2>Priorities</h2>
    <p>The directive will prioritize accordingly</p>
    <ol>
        <li>Custom colors</li>
        <li>Random colors</li>
        <li>Gradient</li>
        <li>Default colors</li>
    </ol>
    <hr/>

    <h2>Basic usage example</h2>
    <ngjs-color-picker selected-color="selected"></ngjs-color-picker>
    <input type="text" ng-model="selected">
    <br><br>
    <h3>Code</h3>
    <div hljs>
<ngjs-color-picker></ngjs-color-picker></div>

    <hr/>

    <h2>Example with larger size and round corners</h2>
    <ngjs-color-picker selected-color="selected" options="customOptions"></ngjs-color-picker>
    <input type="text" ng-model="selected">
    <br><br>
    <h3>Code</h3>
    <div hljs>
// HTML
<ngjs-color-picker selected-color="selectedColor" options="customOptions"></ngjs-color-picker>

// JS
$scope.customOptions = {
    size: 30,
    roundCorners: true
}</div>

    <hr/>

    <h2>Example with random colors</h2>
    <ngjs-color-picker selected-color="selectedColorRandom" options="optionsRandom"></ngjs-color-picker>
    <input type="text" ng-model="selectedColorRandom">
    <br><br>
    <h3>Code</h3>
    <div hljs>
// HTML
<ngjs-color-picker selected-color="selectedColorRandom" options="optionsRandom"></ngjs-color-picker>

// JS
$scope.optionsRandom = {
    randomColors: 10
}</div>

    <hr/>

    <h2>Example with gradient</h2>
    <ngjs-color-picker selected-color="selectedColorGradient" gradient="optionsGradient"></ngjs-color-picker>
    <input type="text" ng-model="selectedColorGradient">
    <br><br>
    <h3>Code</h3>
    <div hljs>
// HTML
<ngjs-color-picker selected-color="selectedColor" gradient="optionsGradient"></ngjs-color-picker>

// JS
$scope.optionsGradient = {
    start: '#BA693E',
    count: 10,
    step: 1
}</div>

    <hr/>

    <h2>Example with vertical color picker</h2>
    <ngjs-color-picker selected-color="selectedColorVert" options="optionsVertical"></ngjs-color-picker>
    <input type="text" ng-model="selectedColorVert">
    <br><br>
    <h3>Code</h3>
    <div hljs>
// HTML
<ngjs-color-picker selected-color="selectedColor" options="optionsVertical"></ngjs-color-picker>

// JS
$scope.optionsVertical = {
    horizontal: false,
    total: 5
}</div>

    <hr/>

    <h2>Example with columns defined</h2>
    <ngjs-color-picker selected-color="selectedColorColumn" options="optionsColumn"></ngjs-color-picker>
    <input type="text" ng-model="selectedColorColumn">
    <br><br>
    <h3>Code</h3>
    <div hljs>
// HTML
<ngjs-color-picker selected-color="selectedColor" options="optionsColumn"></ngjs-color-picker>

// JS
$scope.optionsColumn = {
    columns: 4,
    roundCorners: true
}</div>

</section>
<footer>
    <p>This project is maintained by <a href="https://github.com/simeg">simeg</a></p>
    <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
</footer>
